.movieLayoutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 237, 232);
}

.movieLayoutHeader {
    font-family: 'SingleDay';
    font-size: 30px;
    margin: 0;
    padding: 0;
}
.movieLayoutContext{
    font-family: 'SingleDay';
    font-size: 25px;
    margin: 0;
    padding-bottom: 20px;
    color: black;
}